!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'LintCI - Sign Up'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Signup'}"}
    = favicon_link_tag 'dryer-circle.png', type: 'image/png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = render 'layouts/tracking'

    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %main{:role => "main"}
      = render 'layouts/messages'

      %header
        .row
          .small-5.small-centered.medium-3.columns
            %h1
              = image_tag('lintci-logo-vert.svg', class: 'logo', alt: 'LintCI')

      = yield

      %footer
        .row
          .small-12.columns
            %p
              &copy; 2014 LintCI

